!!! 5
html
head
    title Grid Computing on the Web
    link(href='css/bootstrap.rtl.css', rel='stylesheet')
    link(href='http://www.font-api.ir/css/B Farnaz={font-api.ir}.css', rel='stylesheet')
    link(href='http://www.font-api.ir/css/Iranian Sans={font-api.ir}.css', rel='stylesheet')
    link(href='css/grid.css', rel='stylesheet')
    script(src='http://localhost:3000/socket.io/socket.io.js')
    script(src='js/jquery-1.8.0.min.js', type='text/javascript')
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
  body(dir='rtl')
    .container
      //
         Main hero unit for a primary marketing message or call to action 
      .hero-unit
        h1 رایانش مشبک تحت وب
        br
        p
          | این طرح به استفاده از قدرت پردازش رایانه،موبایل و دستگاه های هوشمند کاربران جهت پردازش اطلاعاتی خاص و ارسال نتیجه ها به سرور و ذخیره در بانک اطلاعاتی، بدون تحت تاثیر قراردادن عمکلرد اصلی سایت می پردازد.این طرح بصورت یک API ارائه می شود و سایت های مختلف می توانند با قراردادن کد در سایت خود پردازنده های بازدیدکنندگان سایت خود را در اختیار سایت قراردهند.
      //
         Example row of columns 
      .row
        .span8
          h2 پیاده سازی و استفاده
          p
            | استفاده از پردازنده ی کاربران اینترنت اکسپلورر ۱۰، فایرفاکس،کروم،کرومیوم،اپرا و سافاری در این طرح محیا می باشد.پیاده سازی فعلی با استفاده از NodeJS، SocketIO و بانک اطلاعاتی MongoDB می باشد.همچنین از فریم ورک expressjs و موتور تمپلیت jade در این طرح استفاده شده است.
          p
            | کد زیر را در سایت خود کپی کنید تا از قدرت پردازش بازدیدکنندگان جهت انجام محاسبات و کمک به پروژه استفاده نمایید.
          textarea#textarea.field.span8(dir='ltr', rows='3', readonly='readonly')
            script(type='text/javascript', src='#{link}/socket.io/socket.io.js')
            script(type='text/javascript', src='gridComputingOnTheWeb.js')
          p
            | سپس دو فایل
            a(href='matrix.js')&nbsp matrix.js &nbsp
            | و
            a(href='gridComputingOnTheWeb.js')&nbsp gridComputingOnTheWeb.js &nbsp
            | را در سایت خود قرار دهید.
        .span4
          h2 آمار
          p
            | ماتریس های پردازش شده  :
            span#processed
          p
            | ماتریس های باقیمانده  :
            span#unprocessed
          p
            | کل مارتیس ها :
            span#all
      hr
      footer
        p
          | ایده و پیاده سازی توسط
          a(href='http://moeinhm.ir')&nbsp سید محمد معین حسینی منش
    script(type='text/javascript', src='grid.js')
