body {
	font-family: Iranian Sans, 'Iranian Sans', tahoma;
}

.hero-unit {
	font-family: B Farnaz, 'B Farnaz', tahoma;
}

.hero-unit p {
	font-family: Iranian Sans, 'Iranian Sans', tahoma;
	font-size: 15px;
}